*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    --main-color: rgb(19, 167, 172);
    --footer-color: rgb(42, 42, 42);
    --progress-color: rgb(69, 68, 68);
    --sec-font: 'Courier New', Courier, monospace;
    --main-font: Arial, Helvetica, sans-serif;
}
body{
    position: relative;
    overflow-x: hidden;
    font-family: var(--sec-font);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 30% 70%;
    grid-template-rows: 7.5% 87% 5.5%;
}
header{
    z-index: 9999;
    font-family: var(--main-font);
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: var(--main-color);
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3.5rem;
}
.sec-info-header{
    display: flex;
    width: 100%;
    height: 100%;
}
.info-container{
    position: relative;
    padding-right: 1.75rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    gap: 1.75rem;
    align-items: center;
}
.info-container li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    min-height: 60px;
}
    .info-container li .papaje-icon{
        width: 45px;
        height: 35px;
        padding-right: 5px;
    }
        
.info-container .info-btn{
    position: relative;
    
}

    .info-container #hamburger, .info-container #return{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 60px;
        max-height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    .info-btn[data-tooltip]::after{
        content: attr(data-tooltip);
        z-index: 2;
        position: absolute;
        display: block;
        bottom: -42px;
        left: -12px;
        padding: 5px;
        width: 70px;
        min-width: fit-content;
        height: fit-content;
        min-height: 30px;
        border-radius: 5px;
        background-color: white;
        color: rgb(0, 0, 0);
        border: 2px solid rgb(0, 0, 0);
        font-size: .9rem;
        text-align: center;
    }
.info-container li a img, .info-container #help a span, .info-container #return a span{
    color: white;
    width: 50px;
    height: 50px;
}
            .info-container #return a span{
                font-size: 250%;
            }
.info-container .info-btn:hover{
    border: 1px solid white;

}
.info-container #hamburger img{
    width: 30px;
    height: 30px;
}

.info-container #help a{
    text-decoration: none;
    color: white;
    font-size: 300%;
    font-weight: bolder;
}

    
main{
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-container{
    position: relative;
    width: 475px;
    min-width: 475px;
    height: 603px;
    box-shadow: 0 0 10px -3px black;
    border-radius: 3px;
    background-image: url("img/Mapa1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/*     @media(max-width: 700px){

    } */
    /* @media(max-width: 600px){
        main .main-container{
            
        }
    } */
    @media(max-width: 475px){
        main .main-container{
            /* height: 512.55px; */
            width: 100%;
            transform: scale(.9);
            
            
        }
        .info-container{
            gap: 1.25rem;
        }
        .info-container li{
            min-width: 40px;
            min-height: 40px;
        }
        .info-container #hamburger, .info-container #return{
            min-width: 60px;
            min-height: 60px;
        }
    }
    @media(max-width: 450px){
        main .main-container{
            transform: scale(.85);
        }
    }
    @media(max-width: 400px){
        main .main-container{
            transform: scale(.8);
        }
    }
    @media(max-width: 380px){
        main .main-container{
            transform: scale(.7);
        }
    }

    .dialog{
        position: relative;
        background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
        border: 1px solid black;
        border-radius: 10px;
        position: fixed;
        padding: 3rem 1rem;
        align-items: center;
        text-align: center;
        min-width: 37.5rem;
        width: 38rem;
        max-width: 50vw;
        min-height: 25rem;
        height: 26rem;
        max-height: 60vh;
        margin: auto;
        justify-content: center;
        }
        .dialog .dialog-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        .dialog .dialog-container h1{
            color: var(--main-color);
        }
        .dialog .dialog-container p, .dialog .dialog-container div{
            font-size: 120%;
            font-weight: bold;
            margin: auto;
            max-width: 350px;
            /* margin: 50px 0 0 50px; */
        }
        .dialog .dialog-container .progress-bar-dialog{
            width: 200px;
            height: 30px;
            padding: 5px;
            margin-top: 5px;
            border: 1px solid black;
            border-radius: 5px;
        }
        .dialog .dialog-container .dialog-img{
            position: absolute;
            bottom: 30px;
            left: 20px;
            width: 100px;
            height: 150px;
        }
        .dialog::backdrop{
            background: linear-gradient(125deg, rgb(0, 0, 0), rgb(0, 0, 0));
            opacity: .15;
        }


    .dialog .close-dialog{

        border-radius: 2px;
        color: black;
        background-color: white;
        font-size: 200%;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;
        }
        .dialog .close-dialog:focus {
            outline: none;
            box-shadow: none;
          }
          .dialog .close-dialog:hover{
            border: 1px solid black;
            color: var(--main-color);
          }

aside{
    z-index: 99;
    position: relative;
    background-color: white;
    box-shadow: 0 0 24px -18px black;
    max-width: 100%;
    width: 400px;
    height: 100vh;
    max-height: 100%;
}
    aside .choose-class{
        background-color: white;
        border: 1px solid black;
        position: absolute;
        top: 5rem;
        left: 100px;
        padding-left: 10px;
        font-size: 150%;
        height: 2rem;
        width: 200px;
    }
    aside ul{
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    aside ul .progress{
        position: relative;
        list-style: none;
        font-weight: bold;
        width: 15rem;
        height: 2.5rem;
        border: 2px solid var(--progress-color);
        border-radius: 5px;
        /* padding: .5rem; */
    }
    aside ul .progress:hover::before{
        content: "Pokaż szczegóły questa";
        text-shadow: .5px .5px 1px black;
        z-index: 3;
        position: absolute;
        top: -50px;
        left: 20px;
        padding: 5px;
        width: 100px;
        min-width: fit-content;
        height: fit-content;
        min-height: 30px;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        font-family: var(--main-font);
        color: var(--main-color);
        border: 2px solid var(--main-color);
        font-size: 1rem;
        text-align: center;
        cursor:pointer;
    }
    aside ul .progress[content]::after{
        content: attr(content);
        position: absolute;
        z-index: 2;
        display: block;
        bottom: -2.5rem;
        left: 2rem;
        padding: 5px;
        width: fit-content;
        min-width: fit-content;
        height: fit-content;
        min-height: 30px;
       /*  background-color: var(--main-color); */
        color: var(--progress-color);
        font-size: 1rem;
        text-align: center;
        font-family: var(--main-font);
        font-weight: lighter;
        font-style: italic;
    }
    aside ul .progress .progress-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: var(--progress-color);
        cursor: pointer;
    }
    aside ul .progress .progress-bar-2{
        background: linear-gradient(90deg, rgb(53, 185, 53) 50%, #fff 50%);
    }
    aside ul .progress .progress-bar-3{
        background: linear-gradient(90deg, #35b935 66%, #fff 33%);
    }
footer{
    z-index: 9999;
    background-color: var(--footer-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
}



svg{
    position: absolute;
    z-index: 0;
}
.level1{
    bottom: 0rem;
    left: 7.75rem;
}
    .level1:hover, .level2:hover, .level3:hover, .level4:hover, .level5:hover, .level6:hover{
        cursor: pointer;
        filter: saturate(300%);
    }

.level2{
    bottom: 6.75rem;
    left: 8.1rem;
}

.level3{
    bottom: 15rem;
    left: 17rem;
}
.level4{
    bottom: 21rem;
    left: 17.5rem;
}
.level5{
    bottom: 27rem;
    left: 10.25rem;
}
.level6{
    bottom: 33rem;
    left: 5.75rem;
}
